#gamelist ul {
  list-style: none; 
}

#gamelistthumbnail {	
	width:20px;	
}


#gamelistdetail {		
	margin-left:0%;
	margin-right:0%;
	width:100%;
	display: inline-block;
	text-align:left;
	/*vertical-align:top;*/	
}

#gamelistdetail p {
	font-family: 'Verdana';	
	font-size:12px;
}

#gameLineDetail {
	display:table;
	border-collapse: separate;
}

#gameLineDetail p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}

#gamelistdetail:hover {
	
	background: #BFCDFF;	
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;

	-webkit-box-shadow:0 0 20px blue; 
    -moz-box-shadow: 0 0 20px blue; 
    box-shadow:0 0 20px blue;
}

.gamesearchform select,
.gamesearchform input
 {
	width:70%;
	padding: 5px;
	margin: 10px;
}

.gamesearchbackground {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 12%;
}

.thumbnail {
  float: left;
  box-shadow: 8px 8px 12px #aaa;
  padding:0px;
  border: 0px;
}

/*
#gamelist ul li {	
	border-style: solid;
	border-bottom: 1px dotted #BFCDFF;
	padding-top: 10px;
	padding-bottom:10px;
	padding-right: 10px;
	overflow: auto;
}

#gamelist ul li:hover {
	
	background: #BFCDFF;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;

	-webkit-box-shadow:0 0 20px blue; 
    -moz-box-shadow: 0 0 20px blue; 
    box-shadow:0 0 20px blue;
}

#gamelist ul li:last-child{
	border-bottom: none;
}

#gamelistdetail {
	margin-left:2%;
	width:70%;
	display: inline-block;
	text-align:left;
	vertical-align:top;	
}

#gamelistdetail p {
	font-family: 'Verdana';	
	font-size:12px;
}

#gamelistthumbnail {
	margin-left:10px;
	width:20%;
	display: inline-block
}

#gameLineDetail {
	display:table;
	border-collapse: separate;
}

#gameLineDetail p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}

#searchPagination {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}
*/