<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title font-bold">ACCUEIL</h3>
			</div>
			<div class="panel-body">
				<h4>
					<span>QUI SUIS JE</span>
				</h4>
				<br/>
				<p>Tout d'abord bonjour à tous et bienvenue sur mon site !<br/>		
				<br/>
				Je m'appelle Franck, je suis né à Nice au début des années 80.<br/>
				Titulaire d'un Master en informatique, je travaille depuis plus de 10 ans maintenant en tant que développeur
				Java/Jee.<br/>
				Même si les jeux-vidéo actuels ne me passionnent pas plus que ça (à part un peu Nintendo qui essaie de continuer à sortir des jeux distrayants et non des films),
				je garde une certaine nostalgie des années 80 et de mon vieil Atari St, de cette période où les jeux qui sortaient nous apportaient à chaque fois une petite touche de nouveauté (quand on pense
				que certains jeux étaient développés par une seule personne !!), en résumer un certain enthousiasme pour le retro-gaming !<br/>
				Outre mon Atari, je me suis d'ailleurs payé le luxe d'acquérir quelques vieilles consoles, célèbres à leur époque, telles que la Nintendo Nes, la Super-Nes ou bien encore la Megadrive
				de Sega, que je conserve d'ailleurs précieusement !<br/>					
				</p>	

				<hr/>
				<h4><span>POURQUOI CE SITE</span></h4>
				<br/>
				<p>
					Compte tenu de ma nostalgie pour les anciennes consoles et mes compétences (modestes) en informatique, j'ai décidé de grouper les jeux-vidéo auquels j'ai joué dans ma vie sur ce site.<br/>
					Comparable à un véritable vide-grenier, vous y trouverez donc un ensemble de jeux que je possède moi-même ou auxquels j'ai eu l'occasion de jouer chez de la famille ou des amis.<br/>
					Attention, la qualité n'étant pas non plus toujours au rendez-vous, vous trouverez des jeux de grande qualité (enfin selon mon avis), mais également des jeux minables à être dégouté
					de les avoir achetés !		
				</p>

				<hr/>	
					
				<h4><span>A PROPOS</span></h4>
				<br/>
				<p>					
					Côté frontend, le site est basé sur HTML5/CSS3 et les frameworks AngularJs / Twitter Bootstrap.<br/>
					Côté backend, le site utilise la technologie Php/Rest.<br/>
					Les logo ont été crées avec Photoshop CS / Paint.NET / The Gimp.<br/>				
				</p>				
			</div>			
		</div>
	
	</div>	
	
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title font-bold">MENU DU SITE</h3>
			</div>
			<div class="panel-body">
			
				<h4>
					<span>ENFANCE-GAMING</span>
				</h4>
				<br/>
				<p>
				Vous trouverez dans cette section tous les jeux auquels j'ai joué étant enfant / adolescent.
				<br/>
				Compte tenu du fait que je possédais moi-même un Atari St, la plus grande majorité des jeux exposés sont dédiés à cette console,
				mais vous trouverez également des jeux auquels j'ai eu l'occasion de jouer chez des amis ou de la famille (Gameboy, NES, Amiga ...)
				</p>
				
				<hr/>
				
				<h4>
					<span>RETRO-GAMING </span>
				</h4>
				<br/>
				<p>
				Vous trouverez dans cette section tous les jeux auquels je joue de temps à autres sur de vieilles consoles que j'ai acheté à des vides-greniers
				ou sur le net (Nintendo NES, Super Nes, Megadrive, GameBoy / Color / Advanced, PC ...).				
				</p>
				
				<!--h4>
					<span>JEUX RECENTS </span>
				</h4>
				<br/>
				<p>
				Vous trouverez dans cette section tous les jeux auquels j'ai joué fin des années 90 jusqu'à présent.				
				Ce sont surtout des jeux qui tournent sur PC ou consoles de 5ème-6ème génération (Xbox, Xbox360, Wii, Wii U, Psp).
				</p>
				
				<hr/-->
				
				
				
			</div>
		</div>
	</div>
	
	</div>	
	
</div>