<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title font-bold">USERS</h3>
			</div>
			<div class="panel-body" style="padding:0px">

				<table class="table table-bordered" style="margin-bottom:0px">
					<thead>
						<th>LAST NAME</th>
						<th>FIRST NAME</th>
						
					</thead>

					<tbody>
						<tr ng-repeat="user in users" ng-click="displayUser(user)">
							<td>{{user.lastname}}</td>
							<td>{{user.firstname}}</td>
							
						</tr>
					</tbody>

				</table>
			</div>
		</div>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title font-bold">CREATE/UPDATE
			</div>
			<div class="panel-body">

				<form>
					First name: <input type="text" name="firstname" ng-model="user.lastname"><br> <br /> Last name:
					<input type="text" name="lastname" ng-model="user.firstname">
					<br /> <br />
					<input class="btn btn-warning" type="button" ng-click="reset()" value="Reset" /> 
					<input class="btn btn-success" type="submit" ng-click="update(user)" value="Save" />
				</form>


			</div>
		</div>

	</div>